<!DOCTYPE html>
<html>
  <head>
    <title> <%= categories[ params].name %>    </title>

    <link rel="stylesheet" href=".../../../../CSS/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
  
    <!-- boostwatch css -->
    <link rel="stylesheet" href="../../../CSS/bootstrap.min.css">
    <!-- /boostwatch css -->

    <!-- boostsrap 3.2 css -->
    <link rel="stylesheet" href="../../../CSS/bootstrap.minv3.2.css">
    <!-- /boostsrap 3.2 css -->
<!-- Favicon -->
<link rel = "icon" href="../../../images/white-logo.jpg" type = "image/x-icon"> 
<!-- Favicon -->

  </head>
  <body>
    <!-- navbar -->
    <%- include('parcials/header.ejs',{'user':user}) %> 
    <!-- /navbar -->
 
    <!-- categories -->
<h1 class="mt-3 font-weight-bold d-flex justify-content-center">
    <%= categories[ params].name %>
</h1>
    <!-- /categories -->


    <!-- Loop for showing all the products -->
<% for (let i = 0 ; i < categories[params].category_product.length;i ++ ) { %>

    <!-- link to detail page -->
<a href="/products/detail/<%= categories[params].category_product[i].id%>" class="nounderline">

    <!-- card -->
<div class="card  p-4 m-3">

    <!-- flex properties -->
 <div class="d-flex  justify-content-around flex-wrap">

<!-- image -->
<div>
    
    <img class="product_card_img" src="../../images/home/productos/<%=categories[params].category_product[i].main_image%>" style="max-width: 70%;">
   
</div>
<!-- /image -->


 
<!-- Right section of the card -->
  <div>
    <!-- Product title-->
    <div class="mt-3 ">
    <%= categories[params].category_product[i].title%>
   
    
    </div>
    <!-- /Product title -->



    <!-- Product description -->
    <div class="mt-3 rigthtText">
        <%= categories[params].category_product[i].description %>
    </div>
    <!-- Product description -->



    <!-- Product price -->
    <div class="mt-3 d-flex justify-content-end">
        <span>$</span>
        <%= categories[params].category_product[i].price %>
    </div>
    <!-- Product price -->

</div>
<!-- Right section of the card -->

</div>
<!-- /flex properties -->

</a>
<!-- link to detail page -->

</div>
<!-- /Card -->

<% } %>


<%- include('parcials/footer.ejs') %>



    <!-- Botstrap js -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- /Botstrap js -->
      
    </body>
    </html>