<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<!-- Favicon -->
<link rel = "icon" href="../../images/white-logo.jpg" type = "image/x-icon"> 
<!-- Favicon -->

    <!-- boostwatch css -->
    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <!-- /boostwatch css -->

    <!-- boostsrap 3.2 css -->
    <link rel="stylesheet" href="../../CSS/bootstrap.minv3.2.css">
    <!-- /boostsrap 3.2 css -->

  <title>Detalle del producto</title>


<!-- web description -->
<meta name="description" content="<%= product.title %>,<%= product.summary%> ">
<!-- /web description -->


</head>

<body class="body-product-detail">
  <%- include('parcials/header.ejs',{'user':user}) %>
  <main class="content-container">
    <% if (product != undefined) { %>

    <section>
      <h1 class="product_detail_title mb-3"><%= product.title %></h1>
      
    </section>
    <div class="text_container"><p><%= product.summary%></p></div>
    <div class="grid_container">
      <div class="img_container">
        <img class="rounded p-4 rounded" src="/images/home/productos/<%= product.main_image%>" alt="<%= product.title %>" >
      </div>
      <div class="text_container"><p><%= product.description%></p></div>  
      <div class="text_container"><p ><%= product.product_detail%></p></div>
      
      <div class="img_container">
        <img class="rounded p-4 rounded" src="/images/home/productos/<%= product.images[0].path %>" alt="<%= product.title %>" >
      </div>
    </div>
      
      
    </div>
    <div class="mt-5">
      <div class="price_container">
        <div class="form_element_container"><p>Precio: $<span class="precio" id="precio"><%= product.price%></span></p></div>
      <form action="/products/addToCart" method="POST" class="form_element_container" >
        <div class="amount_container">
        <input style="display: none;" type="text" id="id_product" name="id_product" value="<%= product.id%>" />
        <input class="bajar-cantidad" type="button" value="-" />
        <input type="text" class="display_input"
        name="display" id="display" value="1" style="text-align: center;">
        <input class="aumentar-cantidad" type="button" value="+" />
        </div>
      
        <button class="boton-agregar-carrito mb-5" type="submit">
           <i class="fab fa-opencart"></i>Agregar</button>
      </form>
      <div class="form_element_container">
        <p>Total: $<span class="precio" id="total"><%= product.price%></span></p>
      </div>
      </div>
    </div>  




  </main>
  <% } %>
  <% if (product == undefined) { %>
  <main style="height: 80vh;">
    <div class="error_container">
      <p>No se han encontrado productos relacionados con su busqueda</p>
    </div>
  </main>
  <% } %>

  <%- include('parcials/footer.ejs') %>
  <script src="/js/productDetail.js"></script>



    <!-- Botstrap js -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- /Botstrap js -->
</body>

</html>